body {
    width: 100%;
    max-width: 794px;/* Limite la largeur du site à la taille d'une page A4 */
    margin:  auto;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Bannière avec les couleurs du drapeau italien */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    background: linear-gradient(to right, #27ae60 20%, #ffffff 20%, #ffffff 80%, #e74c3c 20%);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre les éléments verticalement */
    height: 100px; /* Hauteur réduite de chaque bande */
    text-align: center; /* S'assure que le texte est centré horizontalement */
    padding: 0 10px; /* Ajoute un peu d'espace à gauche et à droite si nécessaire */
}

/* Réduire la marge au-dessus du titre */
.green h1 {
    margin-top: 2px;    /* Supprime la marge supérieure */
    line-height: 1.2em; /* Ajuste la hauteur de ligne si nécessaire */
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    text-align: center;
    justify-content: center; /* Centre les éléments verticalement */

}

/* Taille de l'image logo */
.logo-img {
    width: 275px; /* Taille par défaut de l'image */
    margin-top: 10px;
}

/* Section centrée */
.intro {
    text-align: center;
    display: flex;            /* Utilisation de Flexbox pour centrer le contenu */
    flex-direction: column;   /* Aligne les éléments enfants en colonne */
    align-items: center;      /* Centre les éléments horizontalement */
    justify-content: center;  /* Centre les éléments verticalement (si vous voulez aussi centrer verticalement) */
    padding: 20px;
    margin-top: 30px;
}

/* Section centrée */
.intro p {
    text-align: justify;
    margin-top: 6px;  /* Ajoute de l'espace sous le lien du téléphone */
}

/* Taille de l'image intro */
.intro img {
    width: 100%; /* L'image prendra toute la largeur disponible */
    height: auto; /* La hauteur est ajustée pour conserver le ratio de l'image */
    align-items: center;      /* Centre l'image verticalement */
    justify-content: center;  /* Centre l'image horizontalement */
    height: auto;            /* Donne une hauteur au conteneur pour voir l'effet de centrage vertical */
}

.white {
    background: linear-gradient(to right, #27ae60 20%, #ffffff 20%, #ffffff 80%, #e74c3c 20%);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em; /* Taille du texte réduite */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre les éléments verticalement */
    height: 55px; /* Hauteur réduite de chaque bande */
}

.red {
    background: linear-gradient(to right, #27ae60 20%, #ffffff 20%, #ffffff 80%, #e74c3c 20%);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em; /* Taille du texte réduite */
    justify-content: space-evenly; /* Espace les icônes horizontalement */
    text-align: center;
    height: 55px; /* Hauteur réduite de chaque bande */
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em; /* Taille réduite pour le titre */
    text-align: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; /* Taille réduite pour les liens */
    margin-top: 6px;  /* Ajoute de l'espace sous le lien du téléphone */

}

/* Section centrée */
.content-section {
    max-width: 620px;
    width: 100%;
    padding: 3px;
    text-align: center;
    margin: 50px auto 0;     /* Centrage de la section horizontalement avec une marge au-dessus */
}



h2 {
    font-family: 'Dancing Script', cursive;  /* Police manuscrite comme pour Ciao Ragazzi */
    color: #e74c3c;  /* Couleur rouge */
    font-size: 2.2em;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

.stars {
    font-size: 18px;
    color: #f1c40f;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

footer .small-text {
    font-size: 0.8em; /* Taille plus petite pour le texte "website with ..." */
}

/* Icônes réseaux sociaux */
.social-icons {
    width: 30px;
    height: auto; /* Ajoute une hauteur pour définir une taille fixe */
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social-icons a:hover {
    transform: scale(1.2); /* Agrandit légèrement l'icône */
    }

/* Diaporama (slider) */
.menu-slider {
    max-width: 480px; 
    position: relative;
    margin: auto;
    overflow: hidden; /* Cache les images hors du diaporama */
}

.slide {
    display: none;
    text-align: center;
    position: relative; /* Position absolute pour que les images se superposent */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* Affichage de la slide active */
.slide.active {
    display: block;
    opacity: 1;  /* Rend l'image visible */
    transform: translateX(0); /* Remet l'image à sa place après le déplacement */
}

.menu-img {
    width: 100%; 
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Ajuste précisément la position verticale */
    width: auto;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    z-index: 10;
}

.prev {
    left: 0px;
    text-decoration: none; /* Enlève le soulignement */
}

.next {
    right: 0px;
    text-decoration: none; /* Enlève le soulignement */
    margin-right: 20px;
}

/* Remonter légèrement les étoiles et réduire la taille du texte des commentaires */
.review .stars {
    font-size: 14px;  /* Réduit la taille des étoiles */
    position: relative;  /* Permet de décaler les étoiles */
    top: -15px;  /* Remonte les étoiles de 4px */
}

.review-text {
    font-size: 14Px;  /* Réduit la taille du texte des commentaires */
    line-height: 1.4;  /* Ajuste l'espacement entre les lignes pour plus de lisibilité */
    margin: 15px auto;
    padding: 0 20px;
}
        
.image-section {
    text-align: center; /* Centrer le contenu de la section */
    padding: 40px 20px; /* Ajouter un peu de padding autour de la section */
    background-color: #f7f7f7; /* Couleur de fond de la section (optionnel) */
    border-radius: 8px; /* Bordure arrondie (optionnel) */
    margin-top: 40px; /* Espacement avant cette section */
}

.image-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée deux colonnes de largeur égale */
    gap: 10px; /* Espace entre les images */
    margin-top: -60px;
}

.image-link {
    width: auto; /* Largeur des images */
    height: 80px; /* Hauteur automatique pour garder la proportion */
    border-radius: 8px; /* Arrondir les coins des images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère pour les images */
    transition: transform 0.3s ease; /* Ajout d'une transition pour le survol */
}

/* Section des horaires */
.opening-hours-section {
    margin: 50px auto;
    text-align: center;
    max-width: 320px;  /* Réduit la largeur du tableau */
}

/* Tableau des horaires */
.opening-hours-table {
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Lignes du tableau */
.opening-hours-row {
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;  /* Réduit la hauteur des cellules */
    border-bottom: 1px solid #ddd;
    align-items: center;
}

/* Style pour les jours */
.day {
    font-weight: bold;
    text-transform: capitalize;
    width: 33%;  /* Réduit la largeur de la colonne des jours */
    text-align: center;
    font-size: 0.8em;  /* Réduit la taille de la police */
}

/* Style pour les horaires */
.hours {
    color: #555;
    width: 40%;  /* Réduit la largeur de la colonne des horaires */
    text-align: center;
    font-size: 0.8em;  /* Réduit la taille de la police */
}

/* Ligne fermée (Dimanche) */
.opening-hours-row.closed {
    color: #999;
    background-color: #f2f2f2;
}

/* Espacement entre les horaires matin et après-midi */
.opening-hours-row:nth-child(odd) {
    background-color: #f9f9f9;  /* Une ligne gris clair pour les jours impairs */
}

/* Les cellules du tableau sont maintenant bien réparties avec un espacement visuel */
.opening-hours-row div {
    width: 48%;
    padding: 2px;
}


/* Lien pour ouvrir l'image */
.image-link-container {
    text-align: center;
    margin-top: 40px;
}

.open-image-link {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #27ae60;
    border-radius: 5px;
}

/* Style de la fenêtre modale */
.image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Empêcher le scroll de la page */
}

/* Conteneur de l'image dans la modale avec scroll */
.image-modal-content {
    max-height: 95%;
    max-width: 95%; /* Limite la largeur de l'image à 600px */
    overflow: auto; /* Permet le scroll uniquement sur l'image */
    position: relative;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.image-modal img {
    display: block;
    max-width: 100%;  /* Respecte la largeur maximale de 600px */
    height: auto;     /* Laisse la hauteur se redimensionner automatiquement */
    object-fit: contain; /* Garde l'aspect ratio de l'image */
}


/* Bouton de fermeture toujours visible */
.close-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1010; /* S'assurer que la croix soit au-dessus de l'image et de la modale */
    background-color: rgba(0, 0, 0, 0.5); /* Légère transparence pour la croix */
    padding: 10px;
    border-radius: 50%; /* Arrondir les coins du bouton */
    width: 20px; /* Largeur fixe pour un bouton rond */
    height: 20px; /* Hauteur fixe pour un bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style du menu image uniquement */
.menu-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0;
}

/* Empêcher le scroll de la page derrière la modale */
body.no-scroll {
    overflow: hidden;
}

/* Media Queries pour rendre le site responsive */
@media screen and (max-width: 500px) {
    .green h1 {
        margin-top: 0px;    /* Supprime la marge supérieure */
        line-height: 1.2em; /* Ajuste la hauteur de ligne si nécessaire */
        font-size: 1.2em;
    }
    .green {
        height: 70px; /* Hauteur réduite de chaque bande */
    }   

    .white {
        height: 55px; /* Hauteur réduite de chaque bande */
    }   

    .red {
        height: 55px; /* Hauteur réduite de chaque bande */
    }   

    /* Taille de l'image par défaut */
    .logo-img {
        width: 200px; /* Taille par défaut de l'image */
    }
    
    .menu-img {
        width: 100%;  /* Les images prennent toute la largeur de l'écran */
    }

    header h1 {
        font-size: 1.4em;  /* Taille du titre encore plus petite sur mobile */
    }

    .header-info {
        font-size: 0.9em;  /* Taille des liens réduite */
    }

    .social-icons {
        width: 25px;
        height: auto;
    }
    
    .prev, .next {
        font-size: 10px;  /* Réduire la taille des flèches */
    }
    
            
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    font-display: swap; /* Remplace le texte avec une police de secours jusqu'à ce que la police soit chargée */
  }

  @font-face {
    font-family: 'Dancing Script';
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
    font-display: swap;
}